<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="display: block !important;">
      <ion-menu-toggle style="display: block !important;">
        <ion-button onclick="document.getElementById('mainNav').open()" style="display: block !important;">
          <ion-icon slot="icon-only" name="menu" style="display: block !important;"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>FLL Tools 2025-26 UNEARTHED by <a href="http://www.flltutorials.com" target="_blank">FLLTutorials</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/scorer" detail>
      <ion-label>FLL UNEARTHED Scorer</ion-label>
    </ion-item>
    <ion-item routerLink="/drawplan" detail>
      <ion-label>FLL UNEARTHED Strategy Planner</ion-label>
    </ion-item>
    <ion-item routerLink="/rubrics" detail>
      <ion-label>FLL Judging Rubrics</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://tournament.flltutorials.com/" detail>
      <ion-label>FLLTutorials Tournament Scorer</ion-label>
    </ion-item>
    <ion-item target="_blank" href="/translator/" detail>
      <ion-label>FLL Tools Translator</ion-label>
    </ion-item>
    <ion-item target="_blank" href="/utils/" detail>
      <ion-label>FLL Tools Source Code</ion-label>
    </ion-item>
<!--    <ion-item routerLink="/explore" detail>
      <ion-label>FLL Explore Review Sheet</ion-label>
    </ion-item>
--> <ion-item>
    </ion-item>
    <ion-item>
      <div class="right" id="flags2">
      </div>
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item>

      Copyright (C) 2014-26<i><pre> </pre></i> <a target="_blank" href="http://www.droidsrobotics.org">Droids Robotics</a>
    </ion-item>
  </ion-list>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
